# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Gamespecific files
*.suo
*.cache

# Bin files
/bin
/obj
Wamo/Wamo/obj
Wamo/Wamo/bin
Wamo/WamoContent/obj
Wamo/WamoContent/bin
WamoServer/obj
WamoServer/bin
Wamo/Wamo/Wamo.csproj.Debug.cachefile
Wamo/Wamo/obj/x86/Debug/ContentPipeline-{684C5C29-79BD-4665-903D-0DFBEE151194}.xml
Wamo/Wamo/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Wamo/Wamo/obj/x86/Debug/Wamo.csprojResolveAssemblyReference.cache
Wamo/Wamo/obj/x86/Debug/Wamo.pdb
Wamo/WamoContent/obj/x86/Debug/WamoContent.contentproj.FileListAbsolute.txt
Wamo/WamoContent/obj/x86/Debug/WamoContent.contentproj.FileListAbsolute.txt
Wamo.v12.suo
*.cache
Wamo/Wamo/obj/x86/Debug/Wamo.csprojResolveAssemblyReference.cache